In [ ]:
# 반복문
# for 반복문: 반복할 횟수가 정해져 있는 반복작업에서 사용
# for 변수 in range(반복횟수):
#   반복할 실행문

In [ ]:
# for (int index = 0; index < 5: index++) - X

# int[] arry = {0, 1, 2, 3, 4};
# for (int index: array) {} - O

# range(정수): 0부터 정수 - 까지의 정수 리스트 생성
# range(시작 정수, 종료 정수): 시작 정수부터 종료 정수-1 까지의 정수 리스트 생성
# range(시작 정수, 종료 정수, 차이): 시작 정수부터 종료 정수 -1 까지의 정수 리스트를 생성하는데
# 차이정수 만큼의 차이를 가지며 변경됨

for index in range(5):
    print(index)

for index in range(5, 10):
    print(index)

for index in range(5, 10, 3):
    print(index)

for index in range(10, -1, -1):
    print(index)

In [4]:
for index in [0, 2, 4]:
    print(index)

0
2
4

In [16]:
# 강사님 코드
for count in range(1, 11):
    print("*" * count)

*
**
***
****
*****
******
*******
********
*********
**********

In [19]:
# 강사님 코드
for count in range(10, 0, -1):
    print("*" * count)

**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
# 간단하게 만들기만 하면 이렇게 됨
for count in range(1, 11):
    print("*" * count)
for count in range(9, 0, -1):
    print("*" * count)

In [ ]:
# 와우 언빌리버블
for count in range (1,20):

    if count <= 10:
        print ("*" * count)
    else:
        print ("*" * (20-count))

In [37]:
# 분하지만 여기까지함;
for count in range (1, 12):

    if count <=6:
        print((" "*(6-count)) +"*" * (2*count-1))
    else:
        count > 7
        print ()

     *
    ***
   *****
  *******
 *********
***********

In [42]:
# 강사님 코드1
for count in range (1, 12):
    if count < 6: 
        print((" "*(6-count)) + "*" * (count * 2 -1))
    else:
        print(" " * (count - 6)+"*" * ((12 - count) * 2 -1))

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [ ]:
# 강사님 코드2
for count in range (1, 12):
    star = "*"
    if count <=6: 
        star = "*" * (count * 2 -1)
    else:
        star = "*" * ((12-count) * 2-1)
    print(f'{star:^11}')

In [ ]:
# 중첩 for 반복문
# 0 1 2 3
# 1 2 3 4
# 2 3 4 5
# 3 4 5 6

In [48]:
for a in range(4):
    for b in range(4):
        print(a+b, end=" ")
    print("")

0 1 2 3
1 2 3 4
2 3 4 5
3 4 5 6

In [49]:
# 위의 코드랑 같음
for start in range(4):
    for value in range(start, start+4):
        print(value, end=" ")
    print("")

0 1 2 3
1 2 3 4
2 3 4 5
3 4 5 6

In [91]:
# 강사님 코드 보기
for a in range (1, 7):
    for b in range (1, 7):
        if (a +b) % 4  == 0:
            print(f'{a} {b}')

1 3
2 2
2 6
3 1
3 5
4 4
5 3
6 2
6 6

In [ ]:
# 어떤 주식의 가격은 매일 한 번 동전을 던져서 앞면이 나오면 전날 가격의 2배가 되고,
# 뒷면이 나오면 전날 가격의 절반이 된다. 
# 1일에 주식의 가격이 1,024원이었을 때, 4일 주식의 가격이 나올 수 있는 경우를 모두 구한다. 
# (힌트: for 반복문이 4개 중첩되어야 한다)

In [ ]:
for day1 in range(2):
    for day2 in range(2):
        for day3 in range(2):
            for day4 in range(2):
                print(1024 *  2 **(2*day1-1) * 2 **(2*day2-1)*  2 **(2*day3-1)*  2 **(2*day4-1))

In [ ]:
# gpt 코드
initial_price = 1024

for day1 in [0, 1]:  # 0은 뒷면, 1은 앞면
    for day2 in [0, 1]:
        for day3 in [0, 1]:
            for day4 in [0, 1]:
                price = initial_price
                if day1 == 1:
                    price *= 2
                else:
                    price /= 2

                if day2 == 1:
                    price *= 2
                else:
                    price /= 2

                if day3 == 1:
                    price *= 2
                else:
                    price /= 2

                if day4 == 1:
                    price *= 2
                else:
                    price /= 2

                print(f"가격: {price}원 (동전: {day1}, {day2}, {day3}, {day4})")

In [ ]:
for count in range(1,11):
    sum = 0
    for value in range(count + 1):
        sum += value
    print(sum)

In [ ]:
# 다음과 같은 수열이 있을 경우에 10번째 수열의 값을 구한다.
# 1+(1+2)+(1+2+3)+(1+2+3+4)+⋯+(1+⋯+10)

In [98]:
sum = 0
for count in range (1, 11):
    for value in range(1 + count):
        sum += value
print(sum)

220