In [ ]:
# 리스트
# 순서가 존재하고 중복을 허용하는 자료 구조형
# 파이썬에서는 변수에 데이터 타입이 없듯이 모든 타입을 하나의 리스트에 담을 수 있음
# 리스트 표현: [요소1, 요소2, 요소3,...]

In [ ]:
array = [1, 3.14, '문자열', True ]
array

In [ ]:
array[0]

In [ ]:
array[-1]

In [ ]:
# 인덱스 범위를 벗어남
# array[4]

In [ ]:
for item in array:
    print(item)

In [ ]:
# [3.5, 10.3, 3.2, 7.8, 5.4] 라는 리스트가 있을 때
# 리스트에서 최대값, 최소값, 평균, 분산을 출력하시오
# 분산 : (요소값- 평균)^2 / 개수

In [ ]:
# 강사님코드
numbers = [3.5, 10.3, 3.2, 7.8, 5.4]

In [ ]:
# 최대값
max = float("-Inf")
for number in numbers:
    if number > max:
        max = number
max

In [ ]:
# 최소값
min = float("Inf")
for number in numbers:
    if number < min:
        min = number
min

In [ ]:
# 평균
sum = 0
for number in numbers:
    sum += number
avg = sum / 4
avg

In [ ]:
# 평균
sum = 0
for number in numbers:
    sum += number
avg = round(sum / len(numbers), 2)
avg

In [ ]:
# 분산(dispersion) : (요소값- 평균)^2 / 개수
sum = 0
for number in numbers:
    sum += (number -avg) ** 2

dispersionm = round(sum / len(numbers),2)
dispersionm

In [ ]:
# 리스트의 개수 구하기
# len() 내장함수로 리스트의 길이를 구할 수 있음

In [ ]:
len(numbers)

In [ ]:
# 리스트 구조로 형변환
# 반복가능한 객체에 대하여 리스트 형태로 형 변환할 때 list() 내장 함수를 사용

In [ ]:
list(range(10))

In [ ]:
# 리스트에 자료 추가하기
# 리스트 객체에 append(요소) 메서드를 사용하여 요소를 추가할 수 있음
# 리스트 객체에 insert(인덱스, 요소) 메서드를 사용하여 특정 인덱스에 요소를 삽입할 수 있음
# 리스트 객체에 extend(리스트) 메서드를 사용하여 매개변수로 전달한 리스트를 확장

In [ ]:
numbers = list(range(5))
numbers

In [ ]:
numbers.append(99)
numbers

In [ ]:
numbers.insert(0,-100)
numbers

In [ ]:
numbers.extend([123, 321])
numbers

In [ ]:
# 리스트에서 요소 삭제
# del 요소 : 요소를 메모리 상에서 제거
# pop() : 마지막 요소를 반환하고 제거
# pop(인덱스번호) : 지정한 인덱스 요소를 반환하고 제거
# remove(요소값) : 지정한 요소값을 제거 (첫번째로 만난 요소만 제거)

In [ ]:
del numbers[0] # 위에 100의 자리가 0번인덱스이니깐 그거 자체로 없애버림
numbers

In [ ]:
numbers.pop() # 마지막 321을 반환한거임

In [ ]:
numbers

In [ ]:
numbers.pop(2) # 2번 인덱스 반환!

In [ ]:
numbers

In [ ]:
numbers = [1, 1, 1, 2, 2, 3] # 새로운 numbers 선언
numbers

In [ ]:
numbers.remove(2)
numbers

In [ ]:
# 리스트 슬라이싱
# 리스트[시작인덱스:종료인덱스] : 시작인덱스 요소부터 종료인덱스 앞까지 요소를 묶어서 리스트로 반환

In [89]:
numbers = list(range(20))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [90]:
numbers[0:11]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [91]:
numbers[:11]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [96]:
numbers[-3:]

[17, 18, 19]

In [ ]:
numbers[7:14]

In [ ]:
numbers[7:20]

In [ ]:
numbers[7:]

In [ ]:
# 1. 리스트에는 숫자 뿐 아니라 문자 등 어떤 값도 넣을 수 있다. 
# 10명으로 이루어진 반의 학생 이름을 생각하여 리스트 변수로 만들어 본다.
# 2. 전학생이 왔다고 가정하여 리스트에 이름을 추가한다.
# 3. 한 명이 전학을 갔다고 가정하고 리스트에서 이름을 삭제한다.
# 4. 슬라이싱으로 5번 학생(1번 학생은 가장 처음에 있는 학생이다.)
# 부터 9번 학생까지 5명의 이름을 담은 새로운 리스트를 만든다.

In [ ]:
names = ['김이준', '이서아', '박도윤', '최이서', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤']

In [ ]:
names.append('한시우')
names

In [ ]:
names.remove('최이서')
names

In [ ]:
new_names = names[4:9]
new_names

In [ ]:
# 리스트 복수 할당
# 변수를 ,로 구분하여 대입 연산자 좌항으로 나열하여 리스트에 있는 요소를 분리해서 대입할 수 있음

In [ ]:
numbers = [1,2,3]

In [ ]:
number1, number2, number3 = numbers
print(f'{number1}{number2}{number3}')

In [ ]:
# 만역 복수 할당할 변수의 개수가 리스트 요소의 개수와 같지 않다면 오류가 발생
# number1, number2 =numbers

In [ ]:
# enumerate()
# 리스트를 인덱스, 요소 묶음으로 만들어 주는 내장 함수

In [ ]:
for index, item in enumerate(numbers):
    print(f'인덱스:{index},요소:{item}')

In [ ]:
# zip()
# 두 개의 리스트를 동일한 인덱스의 값을 묶어서 새로운 리스트를 생성

In [ ]:
names

In [ ]:
scores = [70, 85, 60, 55, 90, 100, 100, 65, 75, 40]
scores

In [ ]:
name_scores = list (zip(names, scores)) # list() 함수로 형변환!
name_scores

In [ ]:
# 중첩 리스트
# 리스트이 요소로 리스트를 가지고 있는 리스트

In [ ]:
overlapings  = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
overlapings

In [ ]:
overlapings[0][1] # 배열안에 0번째 인덱스[1,2,3]에서의 두번째 인덱스인 2를출력!

In [ ]:
# 위의 코드를 설명
items = overlapings[0]
items

In [ ]:
items[1]

In [ ]:
# 평균 평점을 구하는 함수'
# 함수의 매개변수로 grades, credits 리스트를 입력받고
# 평균 평점을 gpa를 반환하는 함수를 작성하시오.
# 단, grades와 credits의 길이가 서로 다르다면 -1를 반호나하시오.

In [ ]:
# 강사님 코드 첫번째
def getGpa(grades,credit):
    if len(grades) != len(credit):
        return -1
    credits_sum = 0 #이수 학점의 총합
    weight_sum = 0 # 가중 총 합
    for index in range(len(grades)):
        credits_sum += credits[index]
        weight_sum += credits[index] * grades[index]
    
    # 평균 평점 = (가중치 총합) / (이수 학점의 총합)
    gpa = round(weight_sum / credits_sum,2)
    return gpa

In [ ]:
# 강사님 코드 zip()를 이용한 코드
def getGpa(grades,credit):
    if len(grades) != len(credit):
        return -1
    credits_sum = 0 #이수 학점의 총합
    weight_sum = 0 # 가중 총 합
    #for index in range(len(grades)):
    #    credits_sum += credits[index]
    #    weight_sum += credits[index] * grades[index]
    
    # [(4,3),(3,3),(2,1),(3,2),(4,2)]
    for grade, credit in zip(grades,credit):
        credits_sum += credit
        weight_sum += credit * grade

    # 평균 평점 = (가중치 총합) / (이수 학점의 총합)
    gpa = round(weight_sum / credits_sum,2)
    return gpa

In [ ]:
grades = [4, 3, 2, 3, 4]
credits = [3, 3, 1, 2, 2]
getGpa(grades, credits)

In [ ]:
# gpt 코드
def calculate_weighted_gpa(grades, credit_hours):
    # 길이가 다르면 -1 반환
    if len(grades) != len(credit_hours):
        return -1
    
    total_weighted_score = sum([grade * credit_hour for grade, credit_hour in zip(grades, credit_hours)])
    total_credit_hours = sum(credit_hours)
    
    weighted_gpa = total_weighted_score / total_credit_hours
    return weighted_gpa

# 예시
grades = [4, 3, 2, 3, 4]
credit_hours = [3, 3, 1, 2, 2]
result = calculate_weighted_gpa(grades, credit_hours)

if result == -1:
    print("Error: grades and credits lists must have the same length.")
else:
    print(f"The weighted GPA is: {result:.2f}")

In [ ]:
# x = [['길동', 90], ['철수', 80], ['영희', 70], ['방자'. 60]]
# 복수 할당과 zip 함수를 사용하여 이름만 존재하는 x_names 리스트 변수를 생성하시오.

In [ ]:
x = [
  ["길동", 90],
  ["철수", 80],
  ["영수", 70],
  ["방자", 60],
]

In [ ]:
r_x = list(zip(*x))
r_x

In [ ]:
x_names, x_scores = r_x
x_names = list(x_names)
x_names

In [ ]:
# 딕셔너리
# key, value를 하나의 쌍으로 관리하는 자료형
# 순서가 존재하지 않고 key는 중복을 허용하지 않으며, value는 중복될 수 있음
# 딕셔너리변수 = {key1:value1, key2:value2,...}
# key는 어떠한 자료형이든 가능

In [46]:
eng_dictionary = {'apple':'사과', 'banana':'바나나','carrot':'당근'}
eng_dictionary

{'apple': '사과', 'banana': '바나나', 'carrot': '당근'}

In [ ]:
# 딕셔너리의 특정 요소에 접근할 때는 딕셔너리변수[키]로 값을 가져올 수 있음
# (접근가능)

In [47]:
eng_dictionary['apple']

'사과'

In [ ]:
# 딕셔너리 자료 쌍의 개수
# len(딕셔너리변수)를 사용하여 자료 쌍의 개수를 구할 수 있음

In [48]:
len(eng_dictionary)

3

In [ ]:
# 딕셔너리 value 변경
# 딕셔너리[키] = 변경할 값

In [49]:
eng_dictionary['banana'] = '버네너'
eng_dictionary

{'apple': '사과', 'banana': '버네너', 'carrot': '당근'}

In [ ]:
# 딕셔너리 요소 추가
# 딕셔너리[추가할키] = 추가할 값

In [50]:
eng_dictionary['delete'] = '삭제'
eng_dictionary

{'apple': '사과', 'banana': '버네너', 'carrot': '당근', 'delete': '삭제'}

In [ ]:
# 딕셔너리의 update 메서드
# 추가, 수정 작업을 딕셔너리로 지정하여 작업하는 것

In [51]:
eng2_dictionary = {
    'banana':'바나나',
    'electicity':'전기'
}

In [52]:
eng_dictionary.update(eng2_dictionary)
eng_dictionary

{'apple': '사과',
 'banana': '바나나',
 'carrot': '당근',
 'delete': '삭제',
 'electicity': '전기'}

In [ ]:
# 딕셔너리 요소 삭제
# del 명령어를 사용하여 제거
# pop() 메서드를 사용하여 추출

In [53]:
del eng_dictionary['electicity']

In [54]:
eng_dictionary

{'apple': '사과', 'banana': '바나나', 'carrot': '당근', 'delete': '삭제'}

In [55]:
eng_dictionary.pop('delete')

'삭제'

In [56]:
eng_dictionary

{'apple': '사과', 'banana': '바나나', 'carrot': '당근'}

In [ ]:
# 반복가능 객체에 요소 존재여부 확인
# in 연산자를 통해서 특정 요소가 해당 객체에 존재하는지 여부 확인 가능
# True / False 형태로 나옴

In [57]:
numbers

[1, 2, 3]

In [58]:
eng_dictionary

{'apple': '사과', 'banana': '바나나', 'carrot': '당근'}

In [60]:
5 in numbers

False

In [62]:
'carrots' in eng_dictionary

False

In [ ]:
# 딕셔너리를 반복문에서 사용
# 키만 사용:for key in 딕셔너리.key():
# 값만 사용:for value in 딕셔너리.values():
# 키와 값을 모두 사용: for key, value in 딕셔너리.items():

# keys(): 딕셔너리의 key 값들을 튜플로 반환
# values() : 딕셔너리의 values 값들을 튜플로 반환
# items() : 딕셔너리의key, value 쌍들을 튜플로 반환

In [63]:
for key in eng_dictionary.keys():
    print(key)

apple
banana
carrot

In [65]:
for value in eng_dictionary.values():
    print(value)

사과
바나나
당근

In [68]:
for key, value in eng_dictionary.items():
    print(f'key:{key}, value:{value}')

key:apple, value:사과
key:banana, value:바나나
key:carrot, value:당근

In [69]:
# for문을 사용하여 다음과 같이 출력
data = {
    "철수": 98,
    "영희": 80,
    "순이": 100,
    "돌이": 70,
}

In [83]:
for key, value in data.items():
    print(f'{key}\t {value}')

print("================")

avg = sum(data.values()) / len(data)
print(f"평균\t{avg:.0f}")

철수	 98
영희	 80
순이	 100
돌이	 70
================
평균	87

In [88]:
# 강사님 코드
sum = 0
for key, value in data.items():
    print(f'{key}\t{value}')
    sum += value
avg = round(sum/len(data))
print('==========')
print(f'평균\t{avg}')

철수	98
영희	80
순이	100
돌이	70
==========
평균	87